<!-- top panel -->
<div class="mil-top-panel">
  <div class="container">
    <div class="row mil-aic">
      <div class="col-6">
        <div class="logo-wings">
          <a href="index.html"
            ><img
              src="/wings-innovation-hub/public/img/logos/logoweb.webp"
              alt=""
          /></a>
        </div>
      </div>
      <div class="col-6 mil-jce mil-aic">
        <!-- <div class="mil-phone mil-group-text mil-fs14">
          <span class="mil-soft">Phone:</span
          ><span class="mil-light">+084 984 109 019</span>
        </div> -->
        <div class="lang-switcher">
          <a
            href="<%= rootPath %>index.html"
            class="lang-btn <%= lang === 'vi' ? 'active' : '' %>"
          >
            VN
          </a>

          <a
            href="<%= rootPath %>en/index.html"
            class="lang-btn <%= lang === 'en' ? 'active' : '' %>"
          >
            EN
          </a>
        </div>
        <div class="mil-buttons-frame">
          <div class="mil-menu-btn mil-c-gone">
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- top panel end -->

<!-- menu -->
<div class="mil-menu-window">
  <div class="container">
    <ul class="mil-main-menu mil-c-gone">
      <li>
        <a href="index.html">Home</a>
        <!-- <ul>
                <li>
                  <a href="index.html">Home</a>
                </li>
              </ul> -->
      </li>
      <li>
        <a href="#.">Portfolio</a>
        <ul>
          <li>
            <a href="hat-cung-nguon-coi.html">Hát cùng nguồn cội</a>
          </li>
          <li>
            <a href="tu-tinh-que-huong.html">Tự tình quê hương</a>
          </li>
          <li>
            <a href="chuyen-tai-chinh.html">Chuyên tài chính</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#.">Pages</a>
        <ul>
          <li>
            <a href="about.html">About</a>
          </li>
          <li>
            <a href="services.html">Services</a>
          </li>

          <li>
            <a href="contact.html">contact</a>
          </li>
          <!-- <li>
                  <a href="store.html">Store</a>
                </li> -->
          <!-- <li>
                  <a href="item.html">Store item</a>
                </li> -->
          <li>
            <a href="coming-soon.html">Coming soon</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#.">Blog</a>
        <ul>
          <li>
            <a href="blog.html">List</a>
          </li>
          <li>
            <a href="publication.html">Blog 1</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="mil-social mil-center">
      <li>
        <a href="https://www.facebook.com/truyenthongdoicanh" class="mil-c-gone"
          ><i class="fab fa-facebook-f" style="color: #002fa7"></i
        ></a>
      </li>

      <li>
        <a href="#." class="mil-c-gone"
          ><i class="fab fa-instagram" style="color: #002fa7"></i
        ></a>
      </li>
    </ul>
  </div>
</div>
<!-- menu end -->
