<!-- partners brands -->
<div class="mil-p-0-90">
  <div class="container">
    <div class="col-12 mil-mb90">
      <span class="mil-suptitle mil-accent mil-mb30 mil-up">
        Các tổ chức và thương hiệu hợp tác</span
      >
      <h2 class="mil-fs42 mil-up">
        Đồng hành cùng các tổ chức<br />
        văn hoá giáo dục và thương hiệu tại Việt Nam
      </h2>
    </div>
    <!-- <div class="row">
              <div class="col-md-3-logo mil-mb30 mil-up">
                <div class="mil-partner-card">
                  <img
                    src="img/home/logo-brands/byfas.webp"
                    alt="brand"
                    class="mil-brand"
                  />
                </div>
              </div>
              <div class="col-md-3-logo mil-mb30 mil-up">
                <div class="mil-partner-card">
                  <img
                    src="img/home/logo-brands/byfas.webp"
                    alt="brand"
                    class="mil-brand"
                  />
                </div>
              </div>
            </div> -->
    <div class="partner-slider">
      <div class="partner-track">
        <div class="partner-item">
          <img
            src="/wings-innovation-hub/public/img/home/logo-brands/byfas.webp"
            alt="brand"
          />
        </div>
        <div class="partner-item">
          <img
            src="/wings-innovation-hub/public/img/home/logo-brands/báo phụ nữ.webp"
            alt="brand"
          />
        </div>
        <div class="partner-item">
          <img
            src="/wings-innovation-hub/public/img/home/logo-brands/fpt chung khoan.webp"
            alt="brand"
          />
        </div>
        <div class="partner-item">
          <img
            src="/wings-innovation-hub/public/img/home/logo-brands/gold.webp"
            alt="brand"
          />
        </div>
        <div class="partner-item">
          <img
            src="/wings-innovation-hub/public/img/home/logo-brands/htv.webp"
            alt="brand"
          />
        </div>
        <div class="partner-item">
          <img
            src="/wings-innovation-hub/public/img/home/logo-brands/kim duc.webp"
            alt="brand"
          />
        </div>
        <div class="partner-item">
          <img
            src="/wings-innovation-hub/public/img/home/logo-brands/nhua binh minh.webp"
            alt="brand"
          />
        </div>
        <div class="partner-item">
          <img
            src="/wings-innovation-hub/public/img/home/logo-brands/thanh nien.webp"
            alt="brand"
          />
        </div>
        <div class="partner-item">
          <img
            src="/wings-innovation-hub/public/img/home/logo-brands/victory a.webp"
            alt="brand"
          />
        </div>
        <div class="partner-item">
          <img
            src="/wings-innovation-hub/public/img/home/logo-brands/vinamit.webp"
            alt="brand"
          />
        </div>
        <div class="partner-item">
          <img
            src="/wings-innovation-hub/public/img/home/logo-brands/vtv.webp"
            alt="brand"
          />
        </div>

        <div class="partner-item">
          <img
            src="/wings-innovation-hub/public/img/home/logo-brands/byfas.webp"
            alt="brand"
          />
        </div>
        <div class="partner-item">
          <img
            src="/wings-innovation-hub/public/img/home/logo-brands/báo phụ nữ.webp"
            alt="brand"
          />
        </div>
        <div class="partner-item">
          <img
            src="/wings-innovation-hub/public/img/home/logo-brands/fpt chung khoan.webp"
            alt="brand"
          />
        </div>
        <div class="partner-item">
          <img
            src="/wings-innovation-hub/public/img/home/logo-brands/gold.webp"
            alt="brand"
          />
        </div>
        <div class="partner-item">
          <img
            src="/wings-innovation-hub/public/img/home/logo-brands/htv.webp"
            alt="brand"
          />
        </div>
        <div class="partner-item">
          <img
            src="/wings-innovation-hub/public/img/home/logo-brands/kim duc.webp"
            alt="brand"
          />
        </div>
        <div class="partner-item">
          <img
            src="/wings-innovation-hub/public/img/home/logo-brands/nhua binh minh.webp"
            alt="brand"
          />
        </div>
        <div class="partner-item">
          <img
            src="/wings-innovation-hub/public/img/home/logo-brands/thanh nien.webp"
            alt="brand"
          />
        </div>
        <div class="partner-item">
          <img
            src="/wings-innovation-hub/public/img/home/logo-brands/victory a.webp"
            alt="brand"
          />
        </div>
        <div class="partner-item">
          <img
            src="/wings-innovation-hub/public/img/home/logo-brands/vinamit.webp"
            alt="brand"
          />
        </div>
        <div class="partner-item">
          <img
            src="/wings-innovation-hub/public/img/home/logo-brands/vtv.webp"
            alt="brand"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- partners end -->
