<div class="mil-p-0-30">
  <div class="container">
    <div class="row mil-aic mil-jcb">
      <div class="col-lg-5-service">
        <!-- <h2 class="mil-fs42 mil-mb90 mil-up">Chúng tôi làm gì</h2> -->
        <span class="mil-suptitle mil-accent mil-mb30 mil-up"
          >Chúng tôi làm gì?</span
        >
        <h2 class="mil-fs42 mil-mb30-about mil-up">
          Chúng tôi xây dựng hệ sinh thái ảnh hưởng
        </h2>
        <div class="mil-accordion mil-mb90">
          <div class="mil-accordion-group mil-up">
            <div class="mil-accordion-menu mil-closed mil-c-gone mil-fs20">
              <span>Content</span><span class="mil-accordion-icon"></span>
            </div>
            <div class="mil-accordion-content">
              <p class="mil-text">
                Chiến lược nội dung, hình ảnh, phim, talkshow, xuất bản và hệ
                thống media dài hạn.
              </p>
            </div>
          </div>
          <div class="mil-accordion-group mil-up">
            <div class="mil-accordion-menu mil-closed mil-c-gone mil-fs20">
              <span>Experience</span><span class="mil-accordion-icon"></span>
            </div>
            <div class="mil-accordion-content">
              <p class="mil-text">
                Sự kiện văn hoá – nghệ thuật, triển lãm, brand experience và
                signature event.
              </p>
            </div>
          </div>
          <div class="mil-accordion-group mil-up">
            <div class="mil-accordion-menu mil-closed mil-c-gone mil-fs20">
              <span>Community</span><span class="mil-accordion-icon"></span>
            </div>
            <div class="mil-accordion-content">
              <p class="mil-text">
                Xây dựng và kết nối cộng đồng, tạo hệ sinh thái giá trị và ảnh
                hưởng dài hạn.
              </p>
            </div>
          </div>
        </div>
        <div class="wings">
          <h2 class="mil-fs42 mil-mb30-about mil-up">
            Bạn có thể làm gì với Wings?
          </h2>
          <div class="mil-accordion mil-mb90">
            <div class="mil-accordion-group mil-up">
              <div class="mil-accordion-menu mil-closed mil-c-gone mil-fs20">
                <span>Brand Foundation</span
                ><span class="mil-accordion-icon"></span>
              </div>
              <div class="mil-accordion-content">
                <p class="mil-text">
                  Định vị, narrative và nền tảng thương hiệu.
                </p>
              </div>
            </div>
            <div class="mil-accordion-group mil-up">
              <div class="mil-accordion-menu mil-closed mil-c-gone mil-fs20">
                <span>Brand Launch | Repositioning</span
                ><span class="mil-accordion-icon"></span>
              </div>
              <div class="mil-accordion-content">
                <p class="mil-text">Ra mắt và tạo dấu ấn trên thị trường.</p>
              </div>
            </div>
            <div class="mil-accordion-group mil-up">
              <div class="mil-accordion-menu mil-closed mil-c-gone mil-fs20">
                <span>Signature Experience</span
                ><span class="mil-accordion-icon"></span>
              </div>
              <div class="mil-accordion-content">
                <p class="mil-text">
                  Thiết kế trải nghiệm và sự kiện có chiều sâu.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6-service">
        <div class="mil-just-image mil-s mil-mb90 mil-up">
          <div class="swiper myServiceSlider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img
                  src="/wings-innovation-hub/public/img/home/content.webp"
                  alt="Content"
                  class="mil-scale-img"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="/wings-innovation-hub/public/img/home/experience.webp"
                  alt="Experience"
                  class="mil-scale-img"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="/wings-innovation-hub/public/img/home/community.webp"
                  alt="Community"
                  class="mil-scale-img"
                />
              </div>
            </div>

            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
