<!doctype html>
<html lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="author" content="bslthemes" />

    <!-- grid css -->
    <link
      rel="stylesheet"
      href="/wings-innovation-hub/public/css/plugins/bootstrap-grid.css"
    />
    <!-- font awesome css -->
    <link
      rel="stylesheet"
      href="/wings-innovation-hub/public/fonts/css/font-awesome.min.css"
    />

    <!-- swiper css -->
    <link
      rel="stylesheet"
      href="/wings-innovation-hub/public/css/plugins/swiper.min.css"
    />
    <!-- <link rel="stylesheet" href="css/plugins/swiper-bundle.min.css" /> -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <!-- okai css -->
    <link rel="stylesheet" href="/wings-innovation-hub/public/css/style.css" />
    <!-- page title -->
    <title>Wings Innovation Hub</title>

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="/wings-innovation-hub/public/img/logos/logoweb.webp"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="/wings-innovation-hub/public/img/logos/logoweb.webp"
      type="image/x-icon"
    />
  </head>
  <body>
    <!-- wrapper -->
    <div id="smooth-wrapper" class="mil-page-wrapper">
      <!-- cursor -->
      <div class="mil-cursor-follower"></div>
      <!-- cursor end -->

      <!-- scroll progress -->
      <div class="mil-progress-track">
        <div class="mil-progress"></div>
      </div>
      <!-- scroll progress end -->

      <!-- top panel & menu -->
      <%- include('partials/header') %>
      <!-- top panel & menu end -->

      <!-- content -->
      <div id="smooth-content" class="mil-content">
        <!-- banner -->
        <div class="mil-banner-inner">
          <div class="container">
            <div class="mil-banner-text">
              <div>
                <h1 class="mil-fs68 mil-mb30">About Wings</h1>
                <ul class="mil-breadcrumbs">
                  <li>
                    <a href="index.html" class="mil-c-gone">Home</a>
                  </li>
                  <li>
                    <a href="home-1.html" class="mil-c-gone">Pages</a>
                  </li>
                  <li>
                    <a href="about.html" class="mil-c-gone">About us</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="mil-banner-img">
            <img
              src="/wings-innovation-hub/public/img/about/hinh dau tien.webp"
              alt="banner"
              class="mil-scale-img"
              data-value-1="1"
              data-value-2="1.1"
            />
          </div>
        </div>
        <!-- banner end -->
        <!-- experience -->
        <div class="">
          <div class="container">
            <div class="row mil-jcb">
              <div class="col-lg-12">
                <div class="mil-exp-box mil-type-2 mil-up">
                  <div class="mil-exp-content mil-up">
                    <div class="mil-exp-number">20<span>+</span></div>
                    <h2 class="mil-exp-text mil-fs42">
                      Năm kinh nghiệm trong truyền thông, văn hoá và nội dung
                    </h2>
                  </div>
                </div>
              </div>
              <!-- <div class="col-lg-5"></div> -->
            </div>
          </div>
          <div class="container mil-p-120-120">
            <div class="row">
              <div class="col-lg-2"></div>
              <div class="col-lg-8">
                <p class="mil-text mil-fs30 mil-light mil-up">
                  Wings Innovation Hub được phát triển từ Truyền thông Đôi Cánh,
                  kế thừa hơn 20 năm kinh nghiệm trong truyền thông, nghệ thuật,
                  văn hoá và sản xuất nội dung.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- experience end -->
        <!-- about -->
        <div class="mil-about">
          <div class="container">
            <div class="row flex-sm-row-reverse mil-jcb mil-aic">
              <div class="col-lg-5 mil-relative">
                <div class="mil-about-text">
                  <span class="mil-suptitle mil-accent mil-mb30 mil-up"
                    >About Wings</span
                  >
                  <h2 class="mil-fs42 mil-mb30 mil-up">
                    Kết nối chiều sâu văn hoá với tư duy hệ sinh thái
                  </h2>
                  <p class="mil-text mil-fs16 mil-light mil-mb30 mil-up">
                    Chúng tôi kể chuyện, kiến tạo trải nghiệm và kết nối con
                    người, từ đó xây dựng giá trị bền vững và ảnh hưởng dài hạn
                    cho thương hiệu, tổ chức và cộng đồng.
                  </p>
                  <div class="mil-up">
                    <a href="#." class="mil-btn mil-btn-border mil-c-gone"
                      >Làm việc cùng Wings</a
                    >
                  </div>
                </div>
              </div>
              <div class="col-lg-7 mil-about-image-frame">
                <div class="mil-about-img mil-up">
                  <img
                    src="/wings-innovation-hub/public/img/about/5.jpg"
                    alt="banner"
                    class="mil-scale-img"
                    data-value-1="1"
                    data-value-2="1.25"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- about end -->
        <!-- services -->
        <%- include('partials/services') %>
        <!-- services end -->
        <!-- reviews -->
        <div class="mil-p-0-120">
          <div class="container">
            <div class="row mil-jcc">
              <div class="col-lg-8">
                <div class="swiper-container mil-reviews-slider mil-c-swipe">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div
                        class="mil-review"
                        data-swiper-parallax="20%"
                        data-swiper-parallax-scale="0.5"
                        data-swiper-parallax-opacity="0"
                      >
                        <div class="mil-user mil-mb60 mil-up">
                          <img
                            src="/wings-innovation-hub/public/img/faces/1.jpg"
                            alt="user"
                          />
                        </div>
                        <p
                          class="mil-text mil-fs30 mil-light mil-tac mil-mb60 mil-up"
                        >
                          Nhà báo, đạo diễn và nhà sản xuất nội dung với hơn 20
                          năm kinh nghiệm trong lĩnh vực truyền thông, văn hoá
                          và tổ chức sự kiện.
                        </p>
                        <h6 class="mil-fs18 mil-mb15 mil-up">
                          Nguyễn Yến Trinh
                        </h6>
                        <div class="mil-up">Founder</div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div
                        class="mil-review"
                        data-swiper-parallax="20%"
                        data-swiper-parallax-scale="0.5"
                        data-swiper-parallax-opacity="0"
                      >
                        <div class="mil-user mil-mb60 mil-up">
                          <img
                            src="/wings-innovation-hub/public/img/faces/2.jpg"
                            alt="user"
                          />
                        </div>
                        <p
                          class="mil-text mil-fs30 mil-light mil-tac mil-mb60 mil-up"
                        >
                          Kinh nghiệm tổ chức, biên tập các sự kiện âm nhạc nghệ
                          thuật tại Việt Nam và nhiều nước trên thế giới.
                        </p>
                        <h6 class="mil-fs18 mil-mb15 mil-up">
                          Nguyễn Tài Anh (Nghệ sĩ Quang Thành)
                        </h6>
                        <div class="mil-up">Giám đốc Phát triển Quốc tế</div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div
                        class="mil-review"
                        data-swiper-parallax="20%"
                        data-swiper-parallax-scale="0.5"
                        data-swiper-parallax-opacity="0"
                      >
                        <div class="mil-user mil-mb60 mil-up">
                          <img
                            src="/wings-innovation-hub/public/img/faces/3.jpg"
                            alt="user"
                          />
                        </div>
                        <p
                          class="mil-text mil-fs30 mil-light mil-tac mil-mb60 mil-up"
                        >
                          Giám khảo Phim truyện điện ảnh Cánh Diều Vàng năm
                          2020, năm 2022, năm 2024.<br />Giải thưởng Cánh diều
                          vàng biên kịch điện ảnh xuất sắc năm 2016, năm
                          2019.<br />Giải thưởng Cánh diều vàng biên kịch phim
                          truyền hình xuất sắc năm 2022.Giải Bông Sen vàng
                          2025.<br />Giải biên kịch xuất sắc nhất Liên hoan Phim
                          Châu Á<br />Đà Nẵng 2025.
                        </p>
                        <h6 class="mil-fs18 mil-mb15 mil-up">
                          Nguyễn Thị Ngọc Bích
                        </h6>
                        <div class="mil-up">Giám đốc sáng tạo</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-10 col-md-5 mil-relative">
                <div class="mil-reviews-nav mil-up">
                  <div class="mil-slider-btn mil-prev mil-c-gone">
                    <svg
                      width="28"
                      height="15"
                      viewBox="0 0 28 15"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1.25 8.74984H23.2325L19.1162 12.8661C18.6281 13.3542 18.6281 14.1455 19.1162 14.6336C19.3606 14.878 19.68 14.9998 20 14.9998C20.32 14.9998 20.6394 14.878 20.8838 14.6336L27.1338 8.38359C27.3681 8.14984 27.5 7.83172 27.5 7.49984C27.5 7.16797 27.3681 6.85047 27.1338 6.61609L20.8838 0.366094C20.3956 -0.122031 19.6044 -0.122031 19.1162 0.366094C18.6281 0.854219 18.6281 1.64547 19.1162 2.13359L23.2325 6.24984H1.25C0.56 6.24984 0 6.80984 0 7.49984C0 8.18984 0.56 8.74984 1.25 8.74984Z"
                        fill="black"
                      />
                    </svg>
                  </div>
                  <div class="mil-slider-btn mil-next mil-c-gone">
                    <svg
                      width="28"
                      height="15"
                      viewBox="0 0 28 15"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1.25 8.74984H23.2325L19.1162 12.8661C18.6281 13.3542 18.6281 14.1455 19.1162 14.6336C19.3606 14.878 19.68 14.9998 20 14.9998C20.32 14.9998 20.6394 14.878 20.8838 14.6336L27.1338 8.38359C27.3681 8.14984 27.5 7.83172 27.5 7.49984C27.5 7.16797 27.3681 6.85047 27.1338 6.61609L20.8838 0.366094C20.3956 -0.122031 19.6044 -0.122031 19.1162 0.366094C18.6281 0.854219 18.6281 1.64547 19.1162 2.13359L23.2325 6.24984H1.25C0.56 6.24984 0 6.80984 0 7.49984C0 8.18984 0.56 8.74984 1.25 8.74984Z"
                        fill="black"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- reviews end -->
        <!-- call to action -->
        <div class="">
          <div class="container">
            <div class="mil-cta mil-up">
              <div class="row mil-aic">
                <div class="col-lg-8 mil-up">
                  <p class="mil-text mil-fs26 mil-light mil-mb30">
                    Tell more about your new business plan
                  </p>
                </div>
                <div class="col-lg-4 mil-jce mil-992-jcs mil-up">
                  <a href="#." class="mil-btn mil-btn-soft mil-mb30 mil-c-gone"
                    >Buy this now</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- call to action end -->
        <!-- team -->
        <div class="mil-p-120-30">
          <div class="container">
            <div class="mil-tac">
              <h2 class="mil-fs42 mil-mb90 mil-up">Meet the Collaborators</h2>
            </div>
            <div class="row mil-aic mil-jcb">
              <div class="col-lg-4">
                <div class="mil-team-card mil-mb90">
                  <div class="mil-portrait mil-mb60 mil-992-mb30 mil-up">
                    <img
                      src="/wings-innovation-hub/public/img/about/team/1.jpg"
                      alt="member"
                      class="mil-scale-img"
                      data-value-1="1"
                      data-value-2="1.15"
                    />
                  </div>
                  <div class="mil-tac">
                    <h3 class="mil-fs20 mil-mb15 mil-up">
                      Nghệ sĩ nhiếp ảnh<br />Lê Công Quốc Cường
                    </h3>
                    <p class="mil-up">Giám đốc hình ảnh</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="mil-team-card mil-mb90">
                  <div class="mil-portrait mil-mb60 mil-992-mb30 mil-up">
                    <img
                      src="/wings-innovation-hub/public/img/about/team/2.jpg"
                      alt="member"
                      class="mil-scale-img"
                      data-value-1="1"
                      data-value-2="1.15"
                    />
                  </div>
                  <div class="mil-tac">
                    <h3 class="mil-fs20 mil-mb15 mil-up">Đào Hằng</h3>
                    <p class="mil-up">Projects Manager</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="mil-team-card mil-mb90">
                  <div class="mil-portrait mil-mb60 mil-992-mb30 mil-up">
                    <img
                      src="/wings-innovation-hub/public/img/about/team/3.jpg"
                      alt="member"
                      class="mil-scale-img"
                      data-value-1="1"
                      data-value-2="1.15"
                    />
                  </div>
                  <div class="mil-tac">
                    <h3 class="mil-fs20 mil-mb15 mil-up">Thịnh Nguyễn</h3>
                    <p class="mil-up">Giám đốc Marketing</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- team end -->
        <!-- call to action -->
        <div class="mil-soft-section mil-up mil-p-180-120">
          <div class="container">
            <div class="row mil-jcb mil-aic">
              <div class="col-lg-6 mil-mb60">
                <h2 class="mil-fs68 mil-light mil-up">
                  Start your next <br />project
                  <a
                    href="contact.html"
                    class="mil-text-link mil-accent mil-c-gone"
                    >now</a
                  >
                </h2>
              </div>
              <div class="col-lg-6 mil-jce mil-992-jcs mil-mb60">
                <div class="mil-up">
                  <a
                    href="contact.html"
                    class="mil-btn mil-btn-border mil-btn-lg mil-c-gone"
                    >Get in touch</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- call to action end -->
        <!-- footer -->
        <%- include('partials/footer') %>
        <!-- footer end -->
      </div>
      <!-- content -->
    </div>
    <!-- wrapper end -->

    <!-- gsap js -->
    <script src="/wings-innovation-hub/public/js/plugins/gsap.min.js"></script>
    <!-- scroll smoother -->
    <script src="/wings-innovation-hub/public/js/plugins/ScrollSmoother.min.js"></script>
    <!-- scroll trigger js -->
    <script src="/wings-innovation-hub/public/js/plugins/ScrollTrigger.min.js"></script>
    <!-- scroll to js -->
    <script src="/wings-innovation-hub/public/js/plugins/ScrollTo.min.js"></script>
    <!-- swiper js -->
    <script src="/wings-innovation-hub/public/js/plugins/swiper.min.js"></script>
    <!-- okai js -->
    <script src="/wings-innovation-hub/public/js/main.js"></script>
  </body>
</html>
