<!doctype html>
<html lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="author" content="bslthemes" />

    <!-- grid css -->
    <link
      rel="stylesheet"
      href="/wings-innovation-hub/public/css/plugins/bootstrap-grid.css"
    />
    <!-- font awesome css -->
    <link
      rel="stylesheet"
      href="/wings-innovation-hub/public/fonts/css/font-awesome.min.css"
    />

    <!-- swiper css -->
    <link
      rel="stylesheet"
      href="/wings-innovation-hub/public/css/plugins/swiper.min.css"
    />
    <!-- <link rel="stylesheet" href="css/plugins/swiper-bundle.min.css" /> -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <!-- okai css -->
    <link rel="stylesheet" href="/wings-innovation-hub/public/css/style.css" />
    <!-- page title -->
    <title>Wings Innovation Hub</title>

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="/wings-innovation-hub/public/img/logos/logoweb.webp"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="/wings-innovation-hub/public/img/logos/logoweb.webp"
      type="image/x-icon"
    />
  </head>

  <body>
    <!-- wrapper -->
    <div id="smooth-wrapper" class="mil-page-wrapper">
      <!-- cursor -->
      <div class="mil-cursor-follower"></div>
      <!-- cursor end -->

      <!-- scroll progress -->
      <div class="mil-progress-track">
        <div class="mil-progress"></div>
      </div>
      <!-- scroll progress end -->

      <!-- top panel & menu -->
      <%- include('partials/header') %>
      <!-- top panel & menu end -->

      <!-- content -->
      <div id="smooth-content" class="mil-content">
        <!-- banner -->
        <div class="mil-banner">
          <div class="container">
            <div class="row mil-aic">
              <div class="col-12 col-lg-6">
                <div class="mil-banner-text">
                  <h1 class="mil-fs68 mil-mb30">
                    We are under <br />construction.
                  </h1>
                  <p class="mil-text mil-mb60 mil-light">
                    Check back soon or sign up for a release update.
                  </p>
                  <form class="mil-form mil-subscribe mil-up">
                    <input placeholder="Enter your email" />
                    <button class="mil-btn mil-c-gone">Subscribe</button>
                  </form>
                </div>
              </div>
              <div class="col-12 col-lg-6 mil-banner-image-frame">
                <div class="mil-banner-img mil-out-right">
                  <img
                    src="/wings-innovation-hub/public/img/banners/14.jpg"
                    alt="banner"
                    class="mil-scale-img"
                    data-value-1=".75"
                    data-value-2="1.11"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- banner end -->
      </div>
      <!-- content -->
    </div>
    <!-- wrapper end -->

    <!-- gsap js -->
    <script src="/wings-innovation-hub/public/js/plugins/gsap.min.js"></script>
    <!-- scroll smoother -->
    <script src="/wings-innovation-hub/public/js/plugins/ScrollSmoother.min.js"></script>
    <!-- scroll trigger js -->
    <script src="/wings-innovation-hub/public/js/plugins/ScrollTrigger.min.js"></script>
    <!-- scroll to js -->
    <script src="/wings-innovation-hub/public/js/plugins/ScrollTo.min.js"></script>
    <!-- swiper js -->
    <script src="/wings-innovation-hub/public/js/plugins/swiper.min.js"></script>
    <!-- okai js -->
    <script src="/wings-innovation-hub/public/js/main.js"></script>
  </body>
</html>
