<!doctype html>
<html lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="author" content="bslthemes" />

    <!-- grid css -->
    <link
      rel="stylesheet"
      href="/wings-innovation-hub/public/css/plugins/bootstrap-grid.css"
    />
    <!-- font awesome css -->
    <link
      rel="stylesheet"
      href="/wings-innovation-hub/public/fonts/css/font-awesome.min.css"
    />

    <!-- swiper css -->
    <link
      rel="stylesheet"
      href="/wings-innovation-hub/public/css/plugins/swiper.min.css"
    />
    <!-- <link rel="stylesheet" href="css/plugins/swiper-bundle.min.css" /> -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <!-- okai css -->
    <link rel="stylesheet" href="/wings-innovation-hub/public/css/style.css" />
    <!-- page title -->
    <title>Wings Innovation Hub</title>

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="/wings-innovation-hub/public/img/logos/logoweb.webp"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="/wings-innovation-hub/public/img/logos/logoweb.webp"
      type="image/x-icon"
    />
  </head>

  <body>
    <!-- wrapper -->
    <div id="smooth-wrapper" class="mil-page-wrapper">
      <!-- cursor -->
      <div class="mil-cursor-follower"></div>
      <!-- cursor end -->

      <!-- scroll progress -->
      <div class="mil-progress-track">
        <div class="mil-progress"></div>
      </div>
      <!-- scroll progress end -->

      <!-- top panel & menu -->
      <%- include('partials/header') %>
      <!-- top panel & menu end -->

      <!-- content -->
      <div id="smooth-content" class="mil-content">
        <!-- banner -->
        <div class="mil-banner-inner">
          <div class="container">
            <div class="mil-banner-text">
              <div>
                <h1 class="mil-fs68 mil-mb30">Portfolio</h1>
                <ul class="mil-breadcrumbs">
                  <li>
                    <a href="home-1.html" class="mil-c-gone">Home</a>
                  </li>
                  <li>
                    <a href="home-1.html" class="mil-c-gone">Pages</a>
                  </li>
                  <li>
                    <a href="portfolio.html" class="mil-c-gone"
                      >Portfolio Wings</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="mil-banner-img">
            <img
              src="/wings-innovation-hub/public/img/banners/18.jpg"
              alt="banner"
              class="mil-scale-img"
              data-value-1=".90"
              data-value-2="1.11"
            />
          </div>
        </div>
        <!-- banner end -->
        <!-- portfolio -->
        <div class="mil-portfolio mil-p-120-120">
          <div class="container">
            <div class="row">
              <div class="col-12 mil-mb60 mil-768-mb90">
                <div class="mil-filter">
                  <div class="row mil-tac mil-jcc">
                    <div class="col-lg-4 mil-tac mil-mb60 mil-768-mb30 mil-up">
                      <a href="#.">
                        <h4 class="mil-fs42">All</h4>
                      </a>
                    </div>
                    <div class="col-lg-4 mil-tac mil-mb60 mil-768-mb30 mil-up">
                      <a href="#.">
                        <h4 class="mil-fs42">Graphic design</h4>
                      </a>
                    </div>
                    <div class="col-lg-4 mil-tac mil-mb60 mil-768-mb30 mil-up">
                      <a href="#.">
                        <h4 class="mil-fs42">Illustration</h4>
                      </a>
                    </div>
                    <div class="col-lg-4 mil-tac mil-mb60 mil-768-mb30 mil-up">
                      <a href="#.">
                        <h4 class="mil-fs42">Motion</h4>
                      </a>
                    </div>
                    <div class="col-lg-4 mil-tac mil-mb60 mil-768-mb30 mil-up">
                      <a href="#.">
                        <h4 class="mil-fs42">Web design</h4>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <a
                  href="project.html"
                  class="mil-project-card mil-mb30 mil-up mil-c-view"
                >
                  <div class="mil-cover-frame mil-s">
                    <div class="mil-hover-frame">
                      <img
                        src="/wings-innovation-hub/public/img/portfolio/45.jpg"
                        alt="project cover"
                        class="mil-scale-img"
                        data-value-1="1"
                        data-value-2="1.25"
                      />
                    </div>
                    <div class="mil-hover-overlay"></div>
                  </div>
                </a>
                <a
                  href="project.html"
                  class="mil-project-card mil-mb30 mil-up mil-c-view"
                >
                  <div class="mil-cover-frame mil-s">
                    <div class="mil-hover-frame">
                      <img
                        src="/wings-innovation-hub/public/img/portfolio/25.jpg"
                        alt="project cover"
                        class="mil-scale-img"
                        data-value-1="1"
                        data-value-2="1.25"
                        style="object-position: top"
                      />
                    </div>
                    <div class="mil-hover-overlay"></div>
                  </div>
                </a>
                <a
                  href="project.html"
                  class="mil-project-card mil-mb30 mil-up mil-c-view"
                >
                  <div class="mil-cover-frame mil-s">
                    <div class="mil-hover-frame">
                      <img
                        src="/wings-innovation-hub/public/img/portfolio/26.jpg"
                        alt="project cover"
                        class="mil-scale-img"
                        data-value-1="1"
                        data-value-2="1.25"
                      />
                    </div>
                    <div class="mil-hover-overlay"></div>
                  </div>
                </a>
              </div>
              <div class="col-md-6">
                <a
                  href="project.html"
                  class="mil-project-card mil-mb30 mil-up mil-c-view"
                >
                  <div class="mil-cover-frame mil-s">
                    <div class="mil-hover-frame">
                      <img
                        src="/wings-innovation-hub/public/img/portfolio/23.jpg"
                        alt="project cover"
                        class="mil-scale-img"
                        data-value-1="1"
                        data-value-2="1.25"
                      />
                    </div>
                    <div class="mil-hover-overlay"></div>
                  </div>
                </a>
                <a
                  href="project.html"
                  class="mil-project-card mil-mb30 mil-up mil-c-view"
                >
                  <div class="mil-cover-frame mil-s">
                    <div class="mil-hover-frame">
                      <img
                        src="/wings-innovation-hub/public/img/portfolio/46.jpg"
                        alt="project cover"
                        class="mil-scale-img"
                        data-value-1="1"
                        data-value-2="1.25"
                      />
                    </div>
                    <div class="mil-hover-overlay"></div>
                  </div>
                </a>
                <a
                  href="project.html"
                  class="mil-project-card mil-mb30 mil-up mil-c-view"
                >
                  <div class="mil-cover-frame mil-s">
                    <div class="mil-hover-frame">
                      <img
                        src="/wings-innovation-hub/public/img/portfolio/30.jpg"
                        alt="project cover"
                        class="mil-scale-img"
                        data-value-1="1"
                        data-value-2="1.25"
                      />
                    </div>
                    <div class="mil-hover-overlay"></div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- portfolio end -->
        <!-- footer -->
        <%- include('partials/footer') %>
        <!-- footer end -->
      </div>
      <!-- content -->
    </div>
    <!-- wrapper end -->

    <!-- gsap js -->
    <script src="/wings-innovation-hub/public/js/plugins/gsap.min.js"></script>
    <!-- scroll smoother -->
    <script src="/wings-innovation-hub/public/js/plugins/ScrollSmoother.min.js"></script>
    <!-- scroll trigger js -->
    <script src="/wings-innovation-hub/public/js/plugins/ScrollTrigger.min.js"></script>
    <!-- scroll to js -->
    <script src="/wings-innovation-hub/public/js/plugins/ScrollTo.min.js"></script>
    <!-- swiper js -->
    <script src="/wings-innovation-hub/public/js/plugins/swiper.min.js"></script>
    <!-- <script src="/wings-innovation-hub/public/js/plugins/swiper-bundle.min.js"></script>
     -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- okai js -->
    <script src="/wings-innovation-hub/public/js/main.js"></script>
  </body>
</html>
