<!doctype html>
<html lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="author" content="bslthemes" />

    <!-- grid css -->
    <link
      rel="stylesheet"
      href="/wings-innovation-hub/public/css/plugins/bootstrap-grid.css"
    />
    <!-- font awesome css -->
    <link
      rel="stylesheet"
      href="/wings-innovation-hub/public/fonts/css/font-awesome.min.css"
    />

    <!-- swiper css -->
    <link
      rel="stylesheet"
      href="/wings-innovation-hub/public/css/plugins/swiper.min.css"
    />
    <!-- <link rel="stylesheet" href="css/plugins/swiper-bundle.min.css" /> -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <!-- okai css -->
    <link rel="stylesheet" href="/wings-innovation-hub/public/css/style.css" />
    <!-- page title -->
    <title>Wings Innovation Hub</title>

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="/wings-innovation-hub/public/img/logos/logoweb.webp"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="/wings-innovation-hub/public/img/logos/logoweb.webp"
      type="image/x-icon"
    />
  </head>
  <body>
    <!-- wrapper -->
    <div id="smooth-wrapper" class="mil-page-wrapper">
      <!-- cursor -->
      <div class="mil-cursor-follower"></div>
      <!-- cursor end -->

      <!-- scroll progress -->
      <div class="mil-progress-track">
        <div class="mil-progress"></div>
      </div>
      <!-- scroll progress end -->

      <!-- top panel & menu -->
      <%- include('partials/header') %>
      <!-- top panel & menu end -->

      <!-- content -->
      <div id="smooth-content" class="mil-content">
        <!-- project -->
        <div class="mil-p-240-120 mil-992-p-150-120">
          <div class="container">
            <div class="mil-just-image mil-h mil-shortened mil-mb30 mil-up">
              <img
                src="/wings-innovation-hub/public//wings-innovation-hub/public/img/portfolio/6.jpg"
                alt="image"
                class="mil-scale-img"
                data-value-1="1"
                data-value-2="1.25"
              />
            </div>
            <div class="mil-just-image mil-h mil-shortened mil-mb120 mil-up">
              <img
                src="/wings-innovation-hub/public/img/portfolio/60.jpg"
                alt="image"
                class="mil-scale-img"
                data-value-1="1"
                data-value-2="1.25"
              />
            </div>
            <div class="row mil-jcb">
              <div class="col-lg-7 mil-mb120">
                <h2 class="mil-fs42 mil-mb60 mil-up">Tự tình quê hương</h2>
                <p class="mil-text mil-mb30 mil-up">
                  Nền tảng văn hoá nghệ thuật kết nối người Việt toàn cầu.
                </p>
                <p class="mil-text mil-mb60 mil-up">
                  Không gian hội ngộ của ký ức và bản sắc.
                </p>
                <div class="mil-share mil-up">
                  <p>Share:</p>
                  <ul class="mil-social">
                    <li>
                      <a href="#." class="mil-c-gone"
                        ><i class="fab fa-facebook-f"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#." class="mil-c-gone"
                        ><i class="fab fa-behance"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#." class="mil-c-gone"
                        ><i class="fab fa-instagram"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 mil-mb120">
                <div class="mil-mb30 mil-up">
                  <h5 class="mil-fs16 mil-mb15">Impact:</h5>
                  <p>
                    3.000+ người tham dự sự kiện ra mắt<br />
                    20 triệu+ lượt xem social trong 4 tuần<br />
                    Hàng ngàn lượt chia sẻ<br />
                    Kết nối nhiều thế hệ khán giả
                  </p>
                </div>
                <div class="mil-mb30 mil-up">
                  <h5 class="mil-fs16 mil-mb15">Client:</h5>
                  <p>Envato Marketplace</p>
                </div>
                <div class="mil-mb30 mil-up">
                  <h5 class="mil-fs16 mil-mb15">Category:</h5>
                  <p>
                    <a href="#." class="mil-text-link mil-soft">Photographic</a
                    >, <a href="#." class="mil-text-link mil-soft">Flyer</a>,
                    <a href="#." class="mil-text-link mil-soft">Illustration</a
                    >,
                  </p>
                </div>
                <div class="mil-mb30 mil-up">
                  <h5 class="mil-fs16 mil-mb15">Dimensions:</h5>
                  <p>1920 x 1080px</p>
                </div>
              </div>
            </div>
            <div class="row mil-jce">
              <div class="col-lg-10">
                <a
                  href="chuyen-tai-chinh-project.html"
                  class="row flex-sm-row-reverse mil-jcb mil-aic mil-c-next"
                >
                  <div class="col-lg-7 mil-project-cover-frame">
                    <div class="mil-cover-img mil-left mil-up">
                      <img
                        src="/wings-innovation-hub/public/img/portfolio/58.jpg"
                        alt="banner"
                        class="mil-scale-img"
                        data-value-1="1"
                        data-value-2="1.25"
                      />
                    </div>
                  </div>
                  <div class="col-lg-5 mil-relative">
                    <div class="mil-project-text">
                      <span class="mil-suptitle mil-accent mil-up"
                        >Next project</span
                      >
                      <h2 class="mil-fs42 mil-mb30 mil-up">Chuyện tài chính</h2>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- project end -->
        <!-- footer -->
        <%- include('partials/footer') %>
        <!-- footer end -->
      </div>
      <!-- content -->
    </div>
    <!-- wrapper end -->

    <!-- gsap js -->
    <script src="/wings-innovation-hub/public/js/plugins/gsap.min.js"></script>
    <!-- scroll smoother -->
    <script src="/wings-innovation-hub/public/js/plugins/ScrollSmoother.min.js"></script>
    <!-- scroll trigger js -->
    <script src="/wings-innovation-hub/public/js/plugins/ScrollTrigger.min.js"></script>
    <!-- scroll to js -->
    <script src="/wings-innovation-hub/public/js/plugins/ScrollTo.min.js"></script>
    <!-- swiper js -->
    <script src="/wings-innovation-hub/public/js/plugins/swiper.min.js"></script>
    <!-- okai js -->
    <script src="/wings-innovation-hub/public/js/main.js"></script>
  </body>
</html>
